@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-family:  "Helvetica Neue",FontAwesome, Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif; 
	/*引入字体使用SVG格式化*/
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
     	 url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
     	 url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
     	 url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
     	 url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	line-height:1em;
	color:#4e4e4e;
	min-width:920px;
}

.Top-nav {
	display: block;
	width: 100%;
	height: 50px;
	background-color: rgb(41,60,85);
	top: 0px;
	position: fixed;
	z-index: 100!important;
}

.cl-md-3 {
	position: relative;
}
.mylist {
	width: 86.3%;
	height: 40px;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
   	cursor: pointer;
}
.myLeft {
	position: absolute;
	left: 45px;
	top: 0;
	animation: namess 2s ease-in 1s infinite;
}
.myright {
	position: absolute;
	right:30px;
	top: 0;
	animation: names 2s ease-in 1s infinite;
}
@-webkit-keyframes names{
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}
@-webkit-keyframes namess{
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}

.Eng_CN-border {
	display: block;
	width: 160px;
	height: 50px;
	box-sizing: border-box;
	text-align: center;
	position: absolute;
	right: 25px;
	top: 0;
	cursor: pointer;
}
.Eng_CN, .Eng_CN_to {
	display: inline-block;
	width: 75px;
	height: 50px;
	line-height: 50px;
	border: none;
	background: none;
	border-radius: none;
	color: #F7F7F7;
	font-size: 16px;
	box-sizing: border-box;
}
.Eng_CN {
	transition: background-color 0.3s ease 0s; 
	float: left;
	border-bottom: 3px solid rgb(228,60,89);
	transform: translateX(80px);
}
.Eng_CN_to:hover {
	text-decoration: none;
	color: rgb(228,60,89);
	transition: color 0.3s; 
}
.Eng_CN_to{
	text-decoration: none;
	display: none;
}
.Eng_CN:hover {
	background-color: rgba(22,36,54,1);
	transition: background-color 0.5s; 
}
.Eng_CN_toggle_responsive {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #F7F7F7;
	position: absolute;
	top: 0;
	right: 20px;
	display: none;
}

.home {
	color: #F7F7F7;
	font-size: 28px;
	text-align: center;
	line-height: 50px;
}

/*左侧栏目*/
.Left_item {
	width: 200px;
	height: 100%;
	background-image: linear-gradient(to top ,#233750 , #293C55 15%, #2D415A ,#324155 , #323C55 ,#37415A,#373C55 , #37415F  50%);
	position: absolute;
	bottom: 0;
	z-index: 99!important;
}
.Options {
	width: 100%;
	height: 120px;
	margin-top: 50px;
}
.Options-Header {
	width: 100%;
	height: 55px;
	text-align: left;
	padding-left: 30px;
	margin: 0 auto;
	line-height: 55px;
	color: #F7F7F7;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	margin-top: 1px;
	border-left: 2px solid rgb(228,60,85);
}
.Options-Header:hover > .icon_back {
	background-image: -webkit-radial-gradient(center,circle,rgba(20,20,20,0.5) 0%,rgba(50,50,50,0.5) 100%);
	animation: icon_back 0.8s ease 0s forwards;
}
.Options-Header-title {
	display: inline-block;
	width: 60%;
	height:100%;
	line-height: 56px;
	margin-left: 5px;
}
.Options-Header-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	line-height: 55px;
	vertical-align: middle;
	margin-right: 8px;
}
.Options-footer {
	width:  70%;
	height: 45px;
	text-align: center;
	font-size: 18px;
	color: #CCCCCC;
	line-height: 35px;
	border-top: 2px solid rgb(228,61,89);
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 5px;
}
#option {
	width: 100%;
	height: 140px;
	list-style: none;
	background-color: #232D4B;
}
#option  > li {
	display: inline-block;
	width: 100%;
	height: 30px;
	text-align: left;
	padding-left: 30px;
	color: #F7F7F7;
	font-size: 13px;
	line-height: 30px;
	cursor: pointer;
	margin: 8px;
}
#option  > li:hover {
	color: rgb(228,60,89);
	transition: color 0.7s ease 0s; 
}
.mynav {
	display: block;
	width: 100%;
	list-style: none;
}
.mynav >  li {
	width: 100%;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	position: relative;
	padding-right: 5px;
}
.mynav >  li > a {
	display: inline-block;
	height: 100%;
	color: #F7F7F7;
	font-size: 15px;
	text-decoration: none;
	line-height: 50px;
}
.mynav >  li:hover > a{
	color: skyblue;
	transition: color 0.3s ease-in 0s;
} 
.actives {
	background-color: rgb(228,60,89);
}
.icons {
	display: inline-block;
	font-size: 18px;
	color: #F7F7F7;
	margin-right: 7px;
}
.icons-to {
	display: inline-block;
	font-size: 18px;
	color: #F7F7F7;
	margin-right: 36px;
	vertical-align: middle;
}
.icon_back {
	display: inline-block;
	width: 10%;
	height: 50px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0%;
}
.mynav >  li:hover > .icon_back {
	background-image: -webkit-radial-gradient(center,circle,rgba(20,20,20,0.5) 0%,rgba(50,50,50,0.5) 100%);
	animation: icon_back 0.8s ease 0s forwards;
}
@keyframes icon_back{
	from{
		width: 0%;
		background-image: -webkit-radial-gradient(center,circle,rgba(20,20,20,0.5) 0%,rgba(50,50,50,0.5) 0%);
	}
	to{
		width: 100%;
		background-image: -webkit-radial-gradient(center,circle,rgba(20,20,20,0.5) 0%,rgba(50,50,50,0.5) 0%);
	}
}

/*工具栏容器*/
.Tool {
	width: 740px;
	height: 50px;
	margin: 0 220px;
	transform: translate(-110px,20px);
}
.close_Point {
	font-size: 17px;
	color: rgb(41,60,85);
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 1px;
}
/*工具栏部分*/
.Tool_ul {
	width: 500px;
	height: 40px;
	float: right;
	margin-right: 50px;
}

.Tool_ul >li > a {
	float: right;
	font-size: 12px;
}
.average,.max_min,.DataZoom,.DataZoom_vertical {
	background: none;
	border: none;
	color: rgb(41,60,85);
}
.Tool_ul > li:hover > a  {
	color: rgb(194,53,49);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5) inset;
}
.Tool_ul > li {
	transform: translateY(50px);
}
.Tool_ul > li:hover > a > i {
	color: rgb(194,53,49);
}
.Tool_ul > li:nth-of-type(1) {
	animation: Gradual_Tool_li 0.7s ease-in-out 0.5s forwards;
}
.Tool_ul > li:nth-of-type(2) {
	animation: Gradual_Tool_li 0.7s ease-in-out 0.7s forwards;
}
.Tool_ul > li:nth-of-type(3) {
	animation: Gradual_Tool_li 0.7s ease-in-out 1s forwards;
}
.Tool_ul > li:nth-of-type(4) {
	animation: Gradual_Tool_li 0.7s ease-in-out 1.3s forwards;
}

@keyframes Gradual_Tool_li{
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0px);	
	}
}
		
#main {
	width: 950px;
	height: 550px;
	margin-top: 50px;
	z-index: 98!important;
}

.Toolbar_Tip {
	width: 280px;
	height: 20px;
	position: absolute;
	top: -100px;
	right: 170px;
	animation: Tip 1s ease 3s forwards,Tip_opa 1s ease 8s forwards;
}

@keyframes  Tip{
	0% {
		top: -100px;
	}
	35% {
		top: 10px;
	}
	75% {
		top: 5px;
	}
	100% {
		top: 10px;
	}
}
@keyframes  Tip_opa{
	0% {
		opacity: 1;
	}
	35% {
		opacity: 0.7;
	}
	100% {
		opacity: 0;
	}
}
.Tip_close {
	line-height: 0.2;
}
.Toolbar_Tip_text {
	line-height: 32px;
	font-size: 11px;
	position: absolute;
	top: 0px;
	color: green;
}

/*工具提示组件内容部分*/
.tooltip-inner{
     background: rgb(242,222,222) !important; /*修改背景色*/
     text-align: center !important;/*字体左对齐*/
     color: rgb(169,68,66)!important;/*字体颜色*/
     border:1px solid  rgb(235,204,209);/*添加boder*/
}
/*三角形*/
.tooltip-arrow{
    border-right-color: rgb(235,204,209) !important;/*改变三角形颜色*/
    opacity: 1;
}

/*职位选择工具部分*/
.modal_part {
	padding-top: 4px;
}
.modal_part > span  {
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	outline: none!important;
}
.modal_part > span:hover {
	color: skyblue;
	transition: color 0.5s ease 0s;  
}
.Job_control:focus {
	outline: none!important;
}
.Job_body {
	box-shadow: inset 0px 15px 15px -15px rgba(0,0,0,.5);
}
.Job_body_row {
	width: 95%;
	margin-left: 11px;
}
.Job_toggle {
	width: 100px;
	height: 40px;
	float: left;
	margin-left: 40px;
}
.Job_control {
	width: 100px;
	height: 35px;
	color: rgb(41,60,85);
	border: 1px solid #C0C0C0;
	font-size: 13px;
	text-align: center;
}
.Job_control:hover {
	color: rgb(194,53,49);
	background: none!important;
	box-shadow: inset 0px 3px 5px -5px rgba(55,65,95,1),inset 0px -3px 5px -5px rgba(55,65,95,1);
	transition: color 0.3s ease 0s;  
}

.Job_modal {
	position: absolute;
	top: 12%;
	right: 20%;
}
.modal-dialog {
	width: 435px;
}
.modal_part:nth-of-type(1),.modal_part:nth-of-type(2) {
	border-right: 1px solid #E3E3E3;
}

.Job_close {
	width: 40px;
	height: 25px;
	position: absolute;
	top: 0px;
	right: 0;
}
.Job_close > button {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	background: none;
	border: none;
	padding-top: 8px;
	border-radius: 0px 5px 0px 0px;
	box-shadow: inset 0px 15px 15px -15px rgba(247,60,55,1);
}
.Job_close > button > span {
	color: #F7F7F7;
	font-size: 25px;
}
.Job_close > button:hover {
	box-shadow: inset 0px 35px 35px -35px rgba(247,60,55,1);
	transition: box-shadow 0.5s ease 0s; 
}
.Job_header {
	background-color: rgb(41,60,85);
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
	padding: 10px;
}
.Job_header > .modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    color: #F7F7F7;
}
.Job_part {
    background: none!important;
    padding-bottom: 10px;
    border-radius: 5px;
	font-size: 16px;
   	font-weight: 600;
   	color: rgb(41,60,85);
}
.Job_part:hover {
	animation: part 0.5s ease-in 0s forwards;
}
@keyframes  part{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.05);
	}
}

.Job_list {
	cursor: pointer;
	list-style: none;
}
.Job_list > li {
	width: 100%;
	height: 20px;
	margin:10px auto;
}
.Job_list > li > a {
	width:100%;
	height:100%;
	display: inline-block;
	color: rgb(41,60,85);
	line-height: 20px;
	text-decoration: none;
	padding-left: 10px;
	font-size: 13px;
}
.Job_list > li > a:hover {
	border-left: 2px solid rgb(228,60,89);
	color: rgb(228,60,89);
	animation: Job_list 0.5s ease 0s forwards;
}
@keyframes  Job_list{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}
.active_data {
	border-left: 2px solid rgb(228,60,89);
	color: rgb(228,60,89);
}
